<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Carrito </title>
 
</head>
<body>

  <h1>Carrito</h1>

  <div id="productos-carrito">
   
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();


