<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Maquillaje</title>
</head>
<body>
  <h1> Maquillaje</h1>

  <div id="productos-maquillaje">
     </div>

  
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

     socket.emit('requestMaquillaje');

    socket.on('responseMaquillaje', (maquillaje) => {
      const container = document.getElementById('productos-maquillaje');
      container.innerHTML = '';
      maquillaje.forEach(product => {
        const div = document.createElement('div');
        div.textContent = `${product.name} - $${product.price}`;
        container.appendChild(div);
      });
    });

    socket.on('error', (msg) => {
      console.error('Error:', msg);
    });
  </script>
</body>
</html>
