<header>

  <div>
    <a href="/">
      <img src="../../../public/logo/logo-perfumeria.png" alt="logo">
    </a>
  </div>


  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="../pages/maquillaje.hbs">Maquillaje</a></li>
      <li><a href="../pages/perfumes.hbs">Perfumes</a></li>
      <li><a href="../pages/accesorios.hbs">Accesorios</a></li>
      <li><a href="..//pages/carrito.hbs">Carrito 🛒</a></li>
    </ul>
  </nav>
</header>
<hr />

 