<header>
  <a href="/">
    <img src="/img/logo-perfumeria.png" alt="Logo de la perfumería" />
  </a>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/maquillaje">Maquillaje</a></li>
      <li><a href="/perfumes">Perfumes</a></li>
      <li><a href="/accesorios">Accesorios</a></li>
      <li><a href="/carrito">Carrito </a></li>
    </ul>
  </nav>
</header>

