<header>
  <a href="/">
    <img src="/img/logo-perfumeria.png" alt="Logo de la perfumería" />
  </a>
  <nav>
    <ul>
  <a href="/products">Productos </a>
  <a href="/realtimeproducts">RealTime Products </a>
<div style="text-align: center; margin: 20px 0;">
  <a id="link-carrito" href="#" >Carrito </a>
</div>



   </ul>
  </nav>
</header>